# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs y temporales
*.log
tmp/
EOF

#Files
prueba_otro.ipynb
prueba.ipynb
youtube_comentarios_top_level.csv